.footer {
  background-color: #222222;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 48px;
  padding-bottom: 80px;
}

/*-----------------------------левый блок--------------------------*/
.footer-left-block {
  flex-basis: 399px;
}

.footer-ul {
  padding: 4px 5px 20px 0px;
  margin-bottom: 87px;
}

.footer-li {
  margin-bottom: 4px;
}

.footer-li:last-child {
  margin-bottom: 0;
}

.footer-li-a {
  padding: 5px 5px 5px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #cacaca;
  transition-duration: 200ms;
}

.footer-li-a:focus,
.footer-li-a:hover {
  color: #ffffff;
}

.footer-left-block-ul {
  width: 255px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer-left-block-li {
  flex-basis: 60px;
  height: 60px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.footer-left-block-li:nth-child(3n) {
  margin-right: 0;
}

.footer-left-block-li:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.footer-left-block-a {
  display: block;
  height: 100%;
  border-radius: 30px;
}

.fb {
  background-image: url("../img/fb.svg");
}

.vk {
  background-image: url("../img/Vector.svg");
}

.inst {
  background-image: url("../img/instagram.svg");
}

/*----------------------------центральный блок-----------------------------*/
.footer-form {
  flex-basis: 570px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-form-h2 {
  padding: 10px 5px 5px 0;
  margin-top: 0;
  margin-bottom: 17px;
  border: none;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #cacaca;
}

.footer-form-input {
  min-height: 60px;
  padding: 15px 25px 11px;
  margin-bottom: 25px;
  border: none;
  color: #cacaca;
  background-color: #414141;
}

.footer-form-input::placeholder,
.footer-form-input-textarea::placeholder {
  color: #cacaca;
}

.footer-form-input-textarea {
  min-height: 150px;
  padding: 21px 25px 5px;
  margin-bottom: 31px;
  resize: none;
  border: none;
  line-height: 20px;
  color: #cacaca;
  background-color: #414141;
}

.footer-form-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-form-btn {
  padding: 16px 53px 15px;
}


/*------------------------------------CHECKBOX---------------------------------------*/
.footer-form-label {    /*блок checkbox-а*/
  line-height: 0;       /*высота строки нулевая*/
  color: #cacaca;     /*цвет шрифта*/
}

.footer-form-span {     /*стилизация span-а*/
  display: flex;        /*свойство для span-а и его псевдоэлемента*/ 
  align-items: center;  /*выравнивание их по вертикали*/
}

.footer-form-span::before {     /*резервирование места под псевдоэдемент span-а*/
  content: "";                  /*пустой контент*/
  width: 14px;                  /*ширина*/
  height: 14px;                 /*высота*/
  text-indent: 1px;             /*отступ первой строки текста (в данном случае галочки)*/
  border: 1px solid #CACACA;  /*граница*/
  background-color: transparent;/*прозрачный фон*/
}

.footer-form-checkbox:checked + .footer-form-span::before { /*при положении "включено" выполняются стили псевдоэлемента span-а*/
  content: url("../img/Rectangle\ 44.svg");                 /*появляется "галочка"*/
}

.footer-form-span,
.footer-form-span::before {
  transition-property: border-color, color, background-color;
  transition-duration: 200ms;
}

.footer-form-checkbox:checked:hover + .footer-form-span::before,
.footer-form-checkbox:checked:focus + .footer-form-span::before {
  content: url("../img/Rectangle\ 44_black.svg");
}

.footer-form-checkbox:focus + .footer-form-span::before,
.footer-form-checkbox:hover + .footer-form-span::before { /*при состоянии :hover, :focus ВИЗУАЛЬНО скрытого checkbox-а выполняются свойства для .footer-form-span::before*/
  border-color: #97EE3F;
  background-color: #97EE3F;
}

.footer-form-checkbox:focus + .footer-form-span,
.footer-form-checkbox:hover + .footer-form-span { /*при состоянии :hover, :focus ВИЗУАЛЬНО скрытого checkbox-а выполняются свойства для .footer-form-span*/
  color: #97EE3F;
}

/*----------------------------правый блок--------------------------------------------*/
.footer-right-block-p {
  flex-basis: 400px;
  padding: 79px 1px 63px 37px;
  margin: 0;
  color: #CACACA;
}

@media (max-width: 1470px) {
  .footer-container {
    padding-top: 47px;
    padding-bottom: 81px;
  }

  .footer-left-block {
    flex-basis: 360px;
    margin-right: auto;
  }

  .footer-ul {
    padding-top: 4px;
  }

  .footer-form {
    flex-basis: 536px;
    margin-right: 0;
  }

  .footer-form-input-textarea {
    margin-bottom: 32px;
  }

  .footer-form-block {
    flex-direction: row;
  }

  .footer-form-label {
    margin-bottom: 0;
  }

  .footer-form-btn {
    padding-left: 39px;
    padding-right: 39px;
  }

  .footer-right-block-p {
    display: none;
  }
}

@media (max-width: 992px) {
  .footer-container {
    flex-direction: column;
    padding-top: 49px;
    padding-bottom: 59px;
  }

  .footer-left-block {
    order: 2;
    flex-basis: unset;
    width: 100%;
    margin-right: 0;
  }

  .footer-ul {
    display: none;
  }

  .footer-form {
    width: 534px;
    margin-bottom: 24px;
  }

  .footer-form-input-textarea {
    margin-bottom: 31px;
  }

  .footer-form-block {
    flex-direction: row;
  }

  .footer-form-label {
    margin-bottom: 0;
  }

  .footer-left-block-ul {
    padding-top: 5px;
  }
}

@media (max-width: 600px) {
  .footer-container {
    padding-top: 34px;
    padding-bottom: 0;
  }

  .footer-form {
    width: 100%;
    flex-basis: unset;
    padding-bottom: 33px;
    margin-bottom: 23px;
    border-bottom: 1px solid #595959;
  }

  .footer-form-h2 {
    padding: 5px 5px 5px 0;
    margin: 0 0 16px 0;
    font-size: 24px;
    line-height: 29px;
  }

  .footer-form-input {
    padding: 10px 20px 11px;
    margin-bottom: 25px;
  }

  .footer-form-input-textarea {
    padding: 20px 20px 5px;
    margin-bottom: 25px;
  }
  
  .footer-form-input::placeholder,
  .footer-form-input-textarea::placeholder {
    font-size: 14px;
  }

  .footer-form-block {
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer-form-btn {
    padding: 5px 28px;
    margin-bottom: 22px;
    font-size: 12px;
  }

  .footer-left-block {
    flex-basis: unset;
    margin-right: unset;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-left-block-ul {
    justify-content: center;
  }

  .footer-left-block-li {
    flex-basis: 33px;
    margin-right: 15px;
  }

  .footer-left-block-li:last-child {
    margin-right: 0;
  }

  .footer-left-block-a {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-size: contain;
  }
}